{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block body %}
    <a href="{% url 'feed:post' %}">Add a new post &rAarr;</a>
    <hr>
    {% for post in posts %}
        <a href="{% url 'feed:detail' post.id %}" style="display: inline-block;">
            {{ post.text }} <br>
            {% load sorl_thumbnail %}
            {% thumbnail post.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>    
        <hr>
    {% endfor %}
{% endblock %}